<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">

  <head>
    <title><%= title %></title>
    <% include common/head %>
  </head>

  <body>
    <% include common/toolbar %>

    <img src="img/small+_-.jpeg" alt="+_-">

    <div class = "content-wrapper">
      <div class="footer 1-box is-center">
      Huddle-API 
      </div>
    </div>

    <script type="text/javascript">
      window.user = <%- user || 'null' %>;
    </script>

<script type="text/javascript" src="/app.js"></script>
